.join_meetup_section {
  min-width: 100%;
}

.meetup_container {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: rgba(151, 202, 209, 0.08);
  width: 100%;
  gap: 15px;
  padding: 15px 56px;

  h1 {
    font-size: 28px;
    font-weight: 700;
    max-height: 55px;
  }
  img {
    /* height: 196px; */
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
  }
  p {
    font-size: 16px;
    max-width: 665px;
    line-height: 24px;
  }
  button {
    border: none;
    background-color: rgba(227, 35, 89, 1);
    color: white;
    border-radius: 8px;
    width: 192px;
    height: 40px;
    font-weight: 500;
  }
  button:hover {
    background-color: rgb(225, 118, 148);
  }
}

.meetup_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.p_meetup {
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
}
.categories_icons {
  display: flex;
  gap: 8px;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: baseline;
  align-items: center;
}
.icons_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 135px;
  height: 112px;
  background-color: rgba(151, 202, 209, 0.08);
  padding: 22px 18px;
  border-radius: 8px;
  transition: background 0.8s ease;

  p {
    text-align: center;
    line-height: 24px;
    font-weight: 500;
  }
}

.icons_div:hover {
  background-color: rgba(151, 202, 209, 0.703);
  border: 2px solid rgba(39, 122, 133, 0.703);
}

/* ______________________________________________________start city style__________ */
.city_text {
  margin-top: 64px;
  margin-bottom: 28px;
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(112, 112, 112, 1);
  }
}

.city_div {
  display: flex;
  gap: 42px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgs_city {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  p {
    font-size: 20;
    font-weight: 700;
  }
}

/* ______________________________________________start how work meetuo________ */

.how_meetup_works_container {
  margin-top: 20px;
  h1 {
    margin-bottom: 15px;
  }
}
.info_work_div {
  display: flex;
  gap: 32px;
}
.info_work_content {
  display: flex;
  gap: 32px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
  padding: 24px;
  flex-grow: 1;
  width: 45%;

  h3 {
    font-size: 24px;
    /* text-align: justify; */
    line-height: 25px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }

  a {
    color: rgba(0, 121, 138, 1);
    font-weight: 500;
  }
  a:hover {
    background-color: rgba(0, 122, 138, 0.068);

    color: rgb(27, 8, 45);
  }
}
.info_work_img {
  padding-top: 12px;
}
.dinfo_work_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  p {
    width: 90%;
  }
}
.name_for_categories {
  margin-bottom: 15px;
  margin-top: 10px;
}

/* _________________________________________________________start friendships_____ */

.friendships_on_meetup_container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 64px;
  margin-bottom: 30px;
  a {
    font-weight: 500;
    color: rgba(0, 121, 138, 1);
  }
}

.friendships_info_container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.text_friendships {
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 16px;
    color: rgba(112, 112, 112, 1);
    max-width: 853px;
    line-height: 24px;
  }
}
.div_friendships_info {
  display: flex;
  flex-direction: column;
  max-width: 376px;
  gap: 12px;

  h3 {
    max-width: 320px;
    line-height: 28px;
  }
  p {
    font-size: 16px;
    color: rgba(112, 112, 112, 1);
    line-height: 24px;
    font-weight: 400;
  }
}

@media (max-width: 1440px) {
  .meetup_container {
    width: 100%;
  }

  .img_hello {
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 1300px) {
  .city_div {
    justify-content: space-between;
    margin: 0 auto;
  }
  .city_text {
    h1 {
      font-size: 24px;
    }
  }
  .imgs_city > img {
    width: 150px;
    height: 150px;
  }
  .friendships_info_container {
    justify-content: space-between;
    margin: 0 3rem;
  }
  .text_friendships {
    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
  }

  .div_friendships_info {
    gap: 8px;

    img {
      width: 272px;
      height: 139px;
    }
    h3 {
      font-size: 16px;
      max-width: 272px;
    }
    p {
      font-size: 14px;
      max-width: 272px;
    }
    a {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media (max-width: 1200px) {
  .meetup_container {
    flex-direction: column;
    margin-right: 30px;
  }
  .meetup_content {
    p {
      max-width: 100%;
    }
  }
  .categories_icons {
    justify-content: center;
  }
  .icons_div {
    width: 218px;
  }
}

@media (max-width: 1045px) {
  /* .friendships_info_container {
    justify-content: center;
  } */
  .meetup_container {
    img {
      width: 300px;
      height: 147px;
    }
  }
  .div_friendships_info {
    h3 {
      max-width: 200px;
    }
    p {
      max-width: 200px;
    }
  }
}

@media (max-width: 984px) {
  .how_meetup_works_container {
    h1 {
      padding-left: 45px;
    }
  }
  .text_friendships {
    padding-left: 47px;
    padding-right: 27px;
  }
  .div_friendships_info {
    max-width: 100%;
    /* align-items: center; */
    img {
      /* width: 580px;
      height: 295px; */
      width: 98%;
      height: 70%;
    }
    h3 {
      max-width: 100%;
    }
    p {
      max-width: 100%;
    }
  }

  .city_div {
    max-width: 750px;
  }
  .imgs_city > img {
    width: 100px;
    height: 100px;
    /* justify-content: space-between; */
  }
  .icons_div {
    width: 45%;
    padding: 0;
    justify-content: center;
  }
  .info_work_div {
    flex-direction: column;
    align-items: center;
  }
  .info_work_content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .meetup_container {
    display: flex;
    padding: 15px 30px;

    h1 {
      font-size: 19px;
    }
    p {
      font-size: 14px;
    }
  }

  .img_hello {
    width: 238px;
    height: 137px;
  }
  .city_div {
    gap: 20px;
    justify-content: center;
    p {
      font-size: 14px;
    }
  }
  .name_for_categories {
    font-size: 18px;
  }

  .city_text {
    h1 {
      line-height: 30px;
      font-size: 18px;
    }
    p {
      font-size: 12px;
      line-height: 25px;
    }
  }
  .info_work_content {
    padding: 20px 5px;
    gap: 8px;
  }
  .how_meetup_works_container {
    h1 {
      padding-left: ;
      font-size: 20px;
    }
  }
  .info_work_div {
    gap: 15px;
  }
  .dinfo_work_text {
    gap: 8px;
    h3 {
      font-size: 13px;
    }
    p {
      font-size: 10px;
    }
    a {
      font-size: 10px;
    }
  }
  .info_work_img {
    padding-top: 0;
    img {
      width: 20px;
      height: 20px;
    }
  }
  .text_friendships {
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .div_friendships_info {
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}

@media (max-width: 500px) {
  .how_meetup_works_container {
    h1 {
      font-size: 18px;
    }
  }
  .meetup_container {
    img {
      width: 200px;
      height: 106px;
    }

    .dinfo_work_text {
      h3 {
        font-size: 12px;
        line-height: 10px;
      }
      p {
        font-size: 10px;
        line-height: 20px;
      }
      a {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
}
@media (max-width: 425px) {
  /* .text_friendships {
    padding-left: 17px;
    padding-right: 27px;
  } */
}

@media (max-width: 393px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
